// Esquema de colores

//Primer esquema de colores

$white: #fff;
$isabelline: #eeeded;
$spanishgray: #989797;

//Segunda esquema de colores

$coral: #FA824C;
$buff: #f1dd7b;
$vanilla: #f5e7a1;

//Tercera esquema de colores

$flame: #e4572e;
$lightreochre: #e87554;
$pastelpink: #f2b2a0;

//Cuarta esquema de colores

$shinyshamrock: #4ca866;
$turquoisegreen: #9dcfab;
$pastelgray: #bddfc7;

// Quinta esquema de colores

$bluedefrance: #3c91e6;
$bluejeans: #5fa5ea;
$jordyblue: #82b9ef;

//Sexta esquema de colores

$black: #000000;
$outerspace: #454545;
$quicksilver: #a2a2a2;

//Tipografia

$ptmono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;

//Peso fuentes

$regular: 400;
$ligth: 300;

//tamaño de fuentes

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
