.hedd__img{
  float: left;
}

.hedd__div{
  margin-top: 100px;
  float: right;
  margin-bottom: 500px;
}

.hedd__h1{
  font-size: $xxx-large;
  margin-left: 1px;
  margin-right: 1px;
    width: 50%;
}

.hedd__h2{

}
