.container{
  margin-top: 520px;
  margin-left: 55px;

}

.container__p{
  font-family: $roboto;
  font-size: $medium;
  padding-right: 828px;
}


.container__h1{
  font-family: $ptmono;
  font-size: $x-large;
}
